cartelera/cartelera.dtd

<!ELEMENT cartelera (pelicula+)>

<!ELEMENT pelicula (titulo, director, anio, genero)>

<!ATTLIST pelicula
    id CDATA #REQUIRED
    duracion CDATA #REQUIRED
    clasificacion CDATA #REQUIRED>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT director (#PCDATA)>
<!ELEMENT anio (#PCDATA)>
<!ELEMENT genero (#PCDATA)>